### TASK 1 CREDIT SCORING MODEL

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.linear_model import LogisticRegression

In [2]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\deeks\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\deeks\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [3]:
dataset=pd.read_excel('a_Dataset_CreditScoring.xlsx')

In [4]:
dataset.shape

(3000, 30)

In [5]:
dataset.head()

,TARGET,ID,DerogCnt,CollectCnt,BanruptcyInd,InqCnt06,InqTimeLast,InqFinanceCnt24,TLTimeFirst,TLTimeLast,...,TL50UtilCnt,TLBalHCPct,TLSatPct,TLDel3060Cnt24,TLDel90Cnt24,TLDel60CntAll,TLOpenPct,TLBadDerogCnt,TLDel60Cnt24,TLOpen24Pct
0,1.0,582,3.0,3.0,0.0,4.0,0.0,5.0,117.0,27.0,...,3.0,0.9179,0.2083,2.0,3.0,7.0,0.2083,4.0,4.0,0.0000
1,1.0,662,15.0,9.0,0.0,3.0,1.0,3.0,14.0,14.0,...,1.0,0.8000,0.0000,0.0,0.0,0.0,1.0000,12.0,0.0,1.0000
2,1.0,805,0.0,0.0,0.0,1.0,5.0,1.0,354.0,7.0,...,5.0,0.3552,0.6538,0.0,1.0,1.0,0.7308,1.0,1.0,0.5263
3,1.0,1175,8.0,5.0,0.0,6.0,1.0,10.0,16.0,4.0,...,3.0,0.9127,0.2500,1.0,1.0,1.0,0.7500,7.0,1.0,1.3333
4,1.0,1373,3.0,1.0,0.0,9.0,0.0,8.0,130.0,52.0,...,1.0,1.2511,0.0000,0.0,1.0,4.0,0.1429,3.0,1.0,0.0000

In [6]:
dataset=dataset.drop('ID',axis=1)
dataset.shape

(3000, 29)

In [7]:
dataset.isna().sum()

TARGET               0
DerogCnt             0
CollectCnt           0
BanruptcyInd         0
InqCnt06             0
InqTimeLast        188
InqFinanceCnt24      0
TLTimeFirst          0
TLTimeLast           0
TLCnt03              0
TLCnt12              0
TLCnt24              0
TLCnt                3
TLSum               40
TLMaxSum            40
TLSatCnt             4
TLDel60Cnt           0
TLBadCnt24           0
TL75UtilCnt         99
TL50UtilCnt         99
TLBalHCPct          41
TLSatPct             4
TLDel3060Cnt24       0
TLDel90Cnt24         0
TLDel60CntAll        0
TLOpenPct            3
TLBadDerogCnt        0
TLDel60Cnt24         0
TLOpen24Pct          3
dtype: int64

In [8]:
dataset=dataset.fillna(dataset.mean())

In [9]:
dataset.isna().sum()

TARGET             0
DerogCnt           0
CollectCnt         0
BanruptcyInd       0
InqCnt06           0
InqTimeLast        0
InqFinanceCnt24    0
TLTimeFirst        0
TLTimeLast         0
TLCnt03            0
TLCnt12            0
TLCnt24            0
TLCnt              0
TLSum              0
TLMaxSum           0
TLSatCnt           0
TLDel60Cnt         0
TLBadCnt24         0
TL75UtilCnt        0
TL50UtilCnt        0
TLBalHCPct         0
TLSatPct           0
TLDel3060Cnt24     0
TLDel90Cnt24       0
TLDel60CntAll      0
TLOpenPct          0
TLBadDerogCnt      0
TLDel60Cnt24       0
TLOpen24Pct        0
dtype: int64

In [10]:
y=dataset.iloc[:,0].values
x=dataset.iloc[:,1:29].values

In [11]:
print(y.shape)
print(x.shape)

(3000,)
(3000, 28)

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25,random_state=0,stratify=y)

In [18]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [19]:
import joblib
joblib.dump(sc, r'C:\Users\deeks\OneDrive\Documents\CODE ALPHA INTERN\Credit Scoring Model\futureuse_normalisation_creditscoring.pkl')

['C:\\Users\\deeks\\OneDrive\\Documents\\CODE ALPHA INTERN\\Credit Scoring Model\\futureuse_normalisation_creditscoring.pkl']

In [20]:
classifier =  LogisticRegression()#This initialises an object 'classifier' from the sklearn library or the sklearn.linear_model , to be more specific
classifier.fit(x_train, y_train)#This is to train the classifier object on  training data  ,as,x_train contains the feature data (independent variables) and y_train contains the corresponding labels/targets (dependent variable,here 0 or 1).
#The fit method adjusts weights of the model and minimises the error in predicting y_train from x_train.It is a commonly used method
y_pred = classifier.predict(x_test)

In [22]:
joblib.dump(classifier, r'C:\Users\deeks\OneDrive\Documents\CODE ALPHA INTERN\Credit Scoring Model\futureuse_Classifier_CreditScoring.pkl')

['C:\\Users\\deeks\\OneDrive\\Documents\\CODE ALPHA INTERN\\Credit Scoring Model\\futureuse_Classifier_CreditScoring.pkl']

In [23]:
print(confusion_matrix(y_test,y_pred))

[[610  15]
 [105  20]]

In [24]:
print(f"The fractional accuracy is:{accuracy_score(y_test, y_pred)}")
print(f"The accuracy percentage is:{accuracy_score(y_test, y_pred)*100}")

The fractional accuracy is:0.84
The accuracy percentage is:84.0

In [25]:
predictions = classifier.predict_proba(x_test)
predictions

array([[0.93273743, 0.06726257],
       [0.91587337, 0.08412663],
       [0.91140936, 0.08859064],
       ...,
       [0.88545816, 0.11454184],
       [0.88009258, 0.11990742],
       [0.53056124, 0.46943876]])

In [28]:
df_pred_prob = pd.DataFrame(predictions, columns = ['Probability 0', 'Probability 1'])#This line creates a DataFrame from the 'predictions' array in the above cell, which contains the probabilities of each test sample belonging to class/category 0 and class/category 1. Columns are named 'Probability 0' and 'Probability 1'.

df_pred_target = pd.DataFrame(classifier.predict(x_test), columns = ['Predicted Target'])#This creates another DataFrame from the 'predictions' made by the classifier (object) (i.e. class labels, not the probabilities), with a single column as 'Predicted Target'.

df_test_dataset = pd.DataFrame(y_test,columns= ['Actual Outcome'])#This DataFrame is made from 'y_test, which contains the actual class 'labels' or 'mappings' for the test data, named 'Actual Outcome'.


df_x=pd.concat([df_test_dataset, df_pred_prob, df_pred_target], axis=1)#This specific line concatenates the three DataFrames along the columns (axis=1), resulting in a single DataFrame 'df_x' that includes the actual outcomes, the predicted probabilities, and the predicted class labels for each test datapoint/sample.

df_x.to_csv(r"C:\Users\deeks\OneDrive\Documents\CODE ALPHA INTERN\Credit Scoring Model\Model_Prediction.csv", sep=',', encoding='UTF-8')
#This saves the DataFrame 'df_x' to a CSV file. The specific path and file name indicate it is saved as an 'Excel' file, but since the method 'to_csv' has been used,the file will actually be in CSV format, not XLSX.
#So can also save it as '.csv' for more clarity.
df_x.head()#To print the first few rows(5 specifically) of the merged dataframe-

   Actual Outcome  Probability 0  Probability 1  Predicted Target
0             1.0       0.932737       0.067263               0.0
1             0.0       0.915873       0.084127               0.0
2             0.0       0.911409       0.088591               0.0
3             0.0       0.847633       0.152367               0.0
4             0.0       0.808886       0.191114               0.0